NEXT_PUBLIC_SUPABASE_URL=https://zptyyrunbshsxdhiuuhq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwdHl5cnVuYnNoc3hkaGl1dWhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyNTM2NjMsImV4cCI6MjEwMTgyOTY2M30.UwG1szTXf-c6OMOkMW0wkDZpZo4atufQHrHHMSzPD54